
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="maps">
      <ion-icon name="storefront-outline" class="buttons"></ion-icon>
      <ion-label style="color: #ff8c00c4;">Añadir Sucursal</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sucursales" class="buttons">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="orders" class="buttons">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Pedidos</ion-label>
   </ion-tab-button>
    <ion-tab-button tab="register" class="buttons">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>Registrar Moto</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>