
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ofertas" class="buttons">
      <ion-icon name="mail"></ion-icon>
      <ion-label style="font-size: smaller;">Ofertas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ofertasenproceso" class="buttons">
      <ion-icon name="paper-plane"></ion-icon>
      <ion-label style="font-size: smaller;">Ofertas <br> Proceso</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ofertasrechazadas" class="buttons">
      <ion-icon name="trash"></ion-icon>
      <ion-label style="font-size: smaller;"> Ofertas <br> Rechazadas</ion-label>
   </ion-tab-button>
    <ion-tab-button tab="historialdecompras" class="buttons">
      <ion-icon name="archive"></ion-icon>
      <ion-label style="font-size: smaller;"> Historial <br> compras </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="proveedores" class="buttons">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label style="font-size: smaller;"> Proveedores</ion-label> 
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>