<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Clientes</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Desde</ion-label>
    <ion-datetime placeholder="Select Date" [(ngModel)]="initialdate"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Hasta</ion-label>
    <ion-datetime placeholder="Select Date" [(ngModel)]="lastdate"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Ordenar por: </ion-label>
    <ion-select interface="popover" [(ngModel)]="sortby">
      <ion-select-option value="0">Total Compras</ion-select-option>
      <ion-select-option value="1">Total Gastado</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-button (click)="getAllClients()">Aplicar Filtros</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Gasto Min.: </ion-label>
    <ion-range pin color="dark" min="0" max="1000" (ionChange)="setMinSpent($event)">
      <ion-label slot="start" >Bs. {{minSpent}}</ion-label>
    </ion-range>
  </ion-item>
  <ion-item lines="full">
    <ion-searchbar animated (ionChange)="buscar($event)"></ion-searchbar>
  </ion-item>
  <ion-card *ngFor="let data of ranking | filtro: textoBuscar | minFilter: minSpent" class="productcard">
    <ion-card-header>
      <ion-card-title color="black">
        Nombres Utilizados:
      </ion-card-title>
      <ion-card-subtitle>
        {{ data.name }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Total Compras: {{data.totalsale}} veces
      <br />
      Total Gastado: Bs. {{data.totalspent}}
      <br />
      NIT utilizado: {{data.nit}}
      <br />
      UID: {{data.uid}}
    </ion-card-content>
  </ion-card>

</ion-content>